/*-------------------------------------------------------------------General styles*/

html {
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
}

.container {
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;
}

/*--------------------------------------------------Login screens styles (index.html)*/
#login-screen {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 25%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*--------------------------------------------------------Home screen styles*/
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  display: block;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #555;
}

#home-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  margin: 0;
}

/*--------------------------------------------------------Courses screen styles*/

.top-of-page {
  background-color: #333;
  padding: 20px 0;
  width: 100%;
}

.title-heading {
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin: 0;
  letter-spacing: 2px;
}

.course-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid li {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.grid li a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  height: 100%;
}

.grid li .text {
  padding: 20px;
}

.grid li .image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid li:hover {
  background-color: #555;
}

.grid li:hover .image {
  opacity: 1;
}

.end-test-button {
  display: block;
  width: calc(100% - 40px);
  margin: 20px auto;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.end-test-button:hover {
  background-color: #555;
}

/*------------------------------------------------------------Lesson page styles*/
#circuits-body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

#start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

#start-page h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#start-page button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 300px;
  /* Adjust the width as needed */
}

#start-page button:hover {
  background-color: #555;
}

/*----------------------------------------------------------------Game styles*/
.game-body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.game-title {
  text-align: center;
  color: #333;
}

.game-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.question {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

/*--------------------------------------------------------------- Put in order styles*/

.pio-body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.pio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pio-instruction {
  font-size: 24px;
  margin-bottom: 20px;
}

.pio-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pio-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: move;
  transition: background-color 0.3s ease;
}

.button-container {
  text-align: center;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

/*-------------------------------------------------------------------- true/false styles*/

.tf-body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.tf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tf-question {
  font-size: 24px;
  margin-bottom: 20px;
}

.tf-box-container {
  display: flex;
}

.tf-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*-------------------------------------------------------------------- Simple questions styles*/

.sq-body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.sq-h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

#sq-question {
  text-align: center;
  margin-bottom: 20px;
}

#sq-image {
  text-align: center;
  margin-bottom: 20px;
}

.sq-answer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sq-answer {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sq-answer:hover {
  background-color: #555;
}

/*-------------------------------------------------------------------- Q/A styles*/

.qa-body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.qa-h1 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.qa-container {
  max-width: 600px;
  margin: 0 auto;
}

.qa-question {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.qa-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.qa-option {
  width: 45%;
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.qa-option:hover {
  background-color: #d5d5d5;
}

.qa-correct {
  background-color: #c2e6c2 !important;
}

.qa-incorrect {
  background-color: #f8bfbf !important;
}

/*-------------------------------------------------------------------- Revision page styles*/

.revision-header {
  background-color: #333;
  padding: 20px 0;
}

.revision-title {
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin: 0;
  letter-spacing: 2px;
}

.revision-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pdf-container {
  display: flex;
  justify-content: space-between;
}

.pdf-box {
  width: calc(33% - 10px);
  cursor: pointer;
  border: 1px solid #333;
}

.pdf-box img {
  max-width: 100%;
}

.pdf-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.pdf-modal iframe {
  width: 80%;
  height: 80%;
  border: none;
  position: absolute;
  top: 10%;
  left: 10%;
}

.close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

/*--------------------------------Fix equatiob styles*/

eq-title {
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.eq-container {
  max-width: 600px;
  margin: 0 auto;
}

.equation {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.equation .missing {
  display: inline;
  border: 1px solid #000;
  padding: 2px;
  background-color: #fff;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.option {
  width: 45%;
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #d5d5d5;
}

.eq-correct {
  background-color: #c2e6c2 !important;
}

.eq-incorrect {
  background-color: #f8bfbf !important;
}

/*--------------------------------Match game styles*/

.match-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box-container {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box.word {
  background-color: #d9edf7;
}

.box.word.selected {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.box.image {
  background-color: #f5f5f5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.box.hide {
  display: none;
}

.flash-red {
  animation: flash-red-animation 0.5s;
}

@keyframes flash-red-animation {

  0%,
  50% {
    background-color: #fff;
  }

  25%,
  75% {
    background-color: red;
  }
}

.hidden {
  display: none;
}

/*----------------------------------------------Media queries for larger screens (Max width of 768px)*/


@media screen and (max-width: 1024px) {
  .top-of-page{
    width: 1024px;
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: 28px;
  }

}

@media screen and (max-width: 768px) {

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 768px;
  }

  .grid li {
    position: relative;
    width: 250px;
    height: 150px;
  }

  .top-of-page{
    width: 768px;
  }

}

@media screen and (max-width: 425px) {

  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    margin: 0;
  }

  .grid li {
    width: 425px;

  }

}

